[submodule "numpy"]
	path = numpy
	url = https://github.com/numpy/numpy.git
[submodule "scipy"]
	path = scipy
	url = https://github.com/scipy/scipy.git
[submodule "multibuild"]
	path = multibuild
	url = https://github.com/h-vetinari/multibuild.git
[submodule "gfortran-install"]
	path = gfortran-install
	url = https://github.com/h-vetinari/gfortran-install.git
[submodule "numpy-distutils"]
	path = numpy-distutils
	url = https://github.com/numpy/numpy.git
	branch = master
